:root {
    --primary-color-white: #ffffff;
    --primary-color-dark: #615D6C;
    --primary-color-light: #d9d9d94d;
    --secondary-color: #E0FBFC;
    --primary-brand-color: #F86624;   
    --secondary-brand-color: #4392F1; 

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container{
    padding: 0 120px;
}

.button{
    padding: 32px 80px;
    border: 3px solid var(--secondary-brand-color);
    border-radius: 15px;
}


/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color-white); /* Light grey background */
    padding: 10px 120px;
    margin: 0;
    border-bottom: 1px solid var(--primary-color-dark);
}

.logo img {
    height: 50px; /* Adjust based on your logo's size */
}

.navbar-links a {
    text-decoration: none;
    color:  var(--primary-color-dark); /* Dark grey color */
    margin-left: 20px; /* Space between links */
    font-size: 16px;
}

.navbar-links a:hover {
    color: var(--secondary-brand-color); /* Change color on hover */
}

/* Hero section */
.search-bar{
    display: flex;
    gap: 0;
    justify-content: center;
    padding: 100px 120px;
}

.search-input{
    padding: 20px;
    border: none;
    border-radius: 15px 0 0 15px;
    background-color: var(--primary-color-light);
    width: 70%;
}

.search-button{
    padding: 26px 40px;
    border-radius: 0 15px 15px 0;
}


/* Cards section*/

/* Chart section */